$breakpoints: (
  xs: 0px,
  sm: 510px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 2560px,
);

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

@mixin title {
  font-family: "Oswald", sans-serif;
}
@mixin p {
  font-family: "Inter", sans-serif;
}
@mixin number {
  font-family: "League Gothic", sans-serif;
}

// font-family: 'Inter', sans-serif;
// font-family: 'League Gothic', sans-serif;
// font-family: 'Oswald', sans-serif;
